<div id="<%= dom_id debt %>">
  <p>
    <strong>Payment:</strong>
    <%= debt.payment_id %>
  </p>

  <p>
    <strong>From user:</strong>
    <%= debt.from_user_id %>
  </p>

  <p>
    <strong>To user:</strong>
    <%= debt.to_user_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= debt.amount %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= debt.paid %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= debt.due_date %>
  </p>

</div>
