<div id="<%= dom_id debt %>">
  <p>
    <strong>支払い項目:</strong>
    <%= debt.payment.description %>
  </p>

  <p>
    <strong>支払った人:</strong>
    <%= debt.to_user.name %>
  </p>

  <p>
    <strong>返済する人:</strong>
    <%= debt.from_user.name %>
  </p>

  <p>
    <strong>金額:</strong>
    <%= debt.amount %>
  </p>

  <p>
    <strong>返済状況:</strong>
    <%= debt.paid %>
  </p>

  <p>
    <strong>返済予定日:</strong>
    <%= debt.due_date %>
  </p>

</div>
