<p style="color: green"><%= notice %></p>

<%= render @debt %>

<div>
  <%= link_to "編集", edit_debt_path(@debt) %> |
  <%= link_to "返済予定一覧", debts_path %>

  <%= button_to "削除", @debt, method: :delete %>
</div>
