<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :group_id, "Group", style: "display: block" %>
    <%= form.collection_select :group_id, Group.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.label :payer_id, "Payer", style: "display: block" %>
    <%= form.collection_select :payer_id, User.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
