<div id="<%= dom_id payment %>">
  <h2><%= payment.description %></h2>

  <p>
    <%= payment.payer.name %>さんが ¥<%= number_with_delimiter(payment.amount.to_i) %> を立て替えました。
  </p>
  
  <p>
    返済するのは以下の<%= payment.debts.size %>人です：
  </p>

  <ul>
    <% payment.debts.each do |debt| %>
      <li>
        <% if debt.paid? %>
          <span style="color: green;">✔️</span>
        <% else %>
          <span style="color: red;">❌</span>
        <% end %>
        <%= debt.from_user.name %>さん（¥<%= number_with_delimiter(debt.amount.to_i) %>）
      </li>
    <% end %>
  </ul>

  <p>
    返済操作:
    <%= link_to "返済登録", edit_debts_payment_path(payment) %>
  </p>

  <p>
    支払い管理:
    <%= link_to "編集", edit_payment_path(payment) %> |
    <%= link_to "削除", payment_path(payment), method: :delete, data: { turbo_method: :delete, confirm: "本当に削除しますか？" } %>
  </p>

</div>