<div id="<%= dom_id payment %>">
  <p>
    <strong>支払った人:</strong>
    <%= payment.payer.name %>
  </p>
  
  <p>
    <strong>返済する人:</strong>
    <%= payment.debts.map { |d| d.from_user.name }.join(", ") %>
  </p>

  <p>
    <strong>金額:</strong>
    <td><%= "¥#{number_with_delimiter(payment.amount.to_i)}" %></td>
  </p>

  <p>
    <strong>項目:</strong>
    <%= payment.description %>
  </p>

</div>
