<div id="<%= dom_id payment %>">
  <p>
    <strong>Group:</strong>
    <%= payment.group_id %>
  </p>

  <p>
    <strong>Payer:</strong>
    <%= payment.payer_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment.description %>
  </p>

</div>
