<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div>
  <%= link_to "編集", edit_payment_path(@payment) %> |
  <%= link_to "支払い履歴", payments_path %>

  <%= button_to "削除", @payment, method: :delete %>
</div>
