<!DOCTYPE html>
<html>
  <head>
    <title>PayApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "支払い", payments_path %> |
      <%= link_to "返済を受け取る", debts_path %> |
      <%= link_to "返済する", for_me_debts_path %> |
      <% if current_user %>
        <p>ログイン中：<strong><%= current_user.name %></strong></p>
        <%= link_to "ログアウト", logout_path, method: :delete, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "ログイン", login_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
